<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello, World!</title>
    <style>

html, body {
    height: 100%;
}

body {
    background-image: url("/static/main/images/Earth.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

    </style>
</head>
<body>
    <h1>Hello, World!</h1>
    <br>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="name" /><br>
        <input type="email" name="email" /><br>
        <textarea name="message"></textarea><br>
        <input type="submit" value="Отправить">
    </form>
</body>
</html>